.App {
  margin-left: 200px;
}

.App-logo {
  height: 20em;
  width: 20em;
  pointer-events: none;
}

#logo {
  height: 20em;
  width: 20em;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

body {
  background-image: linear-gradient(to bottom right, #ffabc2, rgb(3, 82, 110));
  height: 1080px;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #263056;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-size: 300%;
  margin: 30px;
  cursor: pointer;
}

.li-button {
  display: flex;
  width: 400px;
  margin-left: 60px;
}
